/src/web/uploads/banners/*
/web/uploads/banners*
/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.ini
/app/config/security.yml

*.swp
*~

.DS_Store*
ehthumbs.db
Thumbs.db
Icon?
