{% extends '::base.html.twig' %}

{% block body %}
<p>{{ r }}</p>
<ul>
{% for resource in resources %}
    <li><a href="{{ path('API_single', { 'resource': r, 'id': resource.id }) }}">
        {{ resource.name }}
    </a></li>
{% endfor %}
</ul>
{% endblock %}
