{% extends '::base.html.twig' %}

{% block body %}
<h1>FROM* - *TO* {{ when }}</h1>
<p>List all the times of departure from *FROM*</p>
<p>A click on a departure, should result in a list of the following stops, that day, from that time. It should also beep account if this is a red day.</p>
{% if resources %}
<ul>
{% for resource in resources %}
    <li>
        {{ resource.departure.format('H:i') }} - {{ resource.stop }}
    </li>
{% endfor %}
</ul>
{% else %}
Found no trips
{% endif %}
{% endblock %}
