{% extends '::base.html.twig' %}

{% block body %}
<ul>
{% for resource in resources %}
    <li>
        <ul>
            <li>
                {{ resource.id }}
            </li>
            <li>
                {{ resource.title }}
            </li>
            <li>
                {{ resource.latitude }}
            </li>
            <li>
                {{ resource.longitude }}
            </li>
        </ul>
    </li>
{% endfor %}
</ul>
{% endblock %}
