{% extends '::base.html.twig' %}

{% block body %}
<h1>Funäsfjällens Travel Guide API</h1>
<p>Don't make to many requests, this will get your ip blocked.</p>
<p>Append the urls with a .response-type to get the data in format you want, like this <a href="{{ path('API_all', {'resource': 'train', '_format': 'json'}) }}">/api/timetable/train.json</a>. These formats are available:
<ul>
    <li>.html (default)</li>
    <li>.json</li>
    <li>.xml</li>
    <li>.rss</li>
</ul>
</p>

<p>
<ul>
    <li><a href="{{ path('API_carpool_all') }}">/api/carpool</a></li>
{% for timetable in timetables %}
    <li><a href="{{ path('API_all', { 'resource':  timetable.type  }) }}">/api/timetable/{{ timetable.type }}</a></li>
{% endfor %}
</ul>
</p>
{% endblock %}
