{% extends 'ChasAdminBundle:Admin:index.html.twig' %}

{% block content %}
<h1>Banners</h1>
{% include 'ChasAdminBundle:Banner:menu.html.twig' with {'page': page} %}
{% render 'ChasAdminBundle:Banner:getPage' with {'page': page, 'form': form} %}
{% endblock %}
