{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    
    <link href="{{ asset('bundles/chasadmin/css/styles.less') }}" type="text/css" rel="stylesheet/less" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/chasadmin/js/less-1.1.5.min.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div id="wrapper">
    
    <div id="header">
        {% block header %}
            {% include 'ChasAdminBundle:Admin:header.html.twig' %}
        {% endblock %}
    </div>

    <div id="sidebar">
        {% block sidebar %}
            {% include 'ChasAdminBundle:Admin:sidebar.html.twig' %}
        {% endblock  %}
    </div>

    <div id="content_container">
        {% block content %}
            <h2>V채lkommen!</h2>
            <div class="content">
                <p>Detta 채r Fun채sfj채llens reseguide admin!<br />Det kommer bli FETT YAO!</p>
            </div>
        {% endblock %}
    </div>
</div>
{% endblock %}
