{% extends 'ChasAdminBundle:Admin:index.html.twig' %}

{% block content %}
<h1>Pages</h1>
{% include 'ChasAdminBundle:Admin:submenu.html.twig' with {'currentpage': currentpage, 'menus': menus} %}

{% if id is not defined %}
    {% set id = null %}
{% endif %}
<div class="content">
{% render 'ChasAdminBundle:Page:getPage' with {'currentpage': currentpage, 'form': form, 'id': id} %}
</div>

{% endblock %}
