{% import "ChasAdminBundle:Admin:isActive.html.twig" as isActive %}

<ul>
    <li><a href="{{ path('_security_dashboard') }}">Dashboard</a></li>
    <li>TimeTables</li>
    <li>Routes</li>
    <li><a href="{{ path('ChasAdminBundle_page') }}">Pages</a></li>
    <li><a href="{{ path('ChasAdminBundle_carpool') }}">CarPool</a></li>
    <li>Statistics</li>
    <li><a href="{{ path('ChasAdminBundle_banner') }}">Banners</a></li>
    <li>Users</li>
</ul>
